<div class="grid-container">
  <h1 class="mat-h1">Products</h1>
  <mat-grid-list cols="3" rowHeight="700px">
   <mat-grid-tile *ngFor="let product of products">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.producttype}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image  src={{product.image}} alt="Image of Smartphone">
      <mat-card-content height="400px">
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>Offer Price : {{product.offerPrice}}</p>
      </mat-card-content>
      <mat-card-content>
        <p>Actul Price : <del>{{product.actualPrice}}</del></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button (click)="addToCart(product)">Add to Cart</button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
