<br>
<h1 class="mat-h1">Product Cart</h1>
<br>
<br>

<table mat-table [dataSource]="productsInCart" class="mat-elevation-z8" mat-sort>

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Order Id Column -->

  <ng-container matColumnDef="Select">
    <th mat-header-cell class="thead-light" *matHeaderCellDef mat-sort-header>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->

  <ng-container matColumnDef="ProductName">
    <th mat-header-cell class="thead-light" width="25%" *matHeaderCellDef>
      <h6> Product Name</h6>
    </th>
    <td mat-cell *matCellDef="let product" width="25%">
      <span>{{product.name}}<br></span> </td>
     <!-- <td mat-footer-cell *matFooterCellDef> Total </td> -->
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="Price">
    <th mat-header-cell width="25%" class="thead-light" *matHeaderCellDef>
      <h6> Price</h6>
    </th>
    <td mat-cell *matCellDef="let product">
      <span>{{product.offerPrice}}<br></span> </td>
     <!-- <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td> -->
  </ng-container>

  <!-- Product type Column -->
  <ng-container matColumnDef="ProductType">
    <th mat-header-cell class=".thead-light" width="25%" *matHeaderCellDef>
      <h6>Product Type</h6>
    </th>
    <td mat-cell *matCellDef="let product "> <span>{{product.producttype}}<br></span> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
  <!--<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>-->
</table>

<button mat-raised-button (click)="buyProducts()">Buy</button>

